Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
*.log
config.status
configure
depcomp
doc/Makefile
install-sh
man/Makefile
missing
src/Makefile
src/client/.deps/
src/client/Makefile
src/client/client
src/client/client.o
src/server/.deps/
src/server/Makefile
src/server/server
src/server/server.o
stamp-h1
